.*.sw[opn]
*.pyc
__pycache__
*.ogg
bkai00mp.ttf
wqy-microhei.ttc
/src/comparedata
/src/_compare.py
/src/debug.txt
/src/_dump.py
/src/player.py.old
/src/resource/data/d9.grp
/src/resource/data/d9.idx
/src/resource/data/r9.grp
/src/resource/data/r9.idx
/src/resource/data/s9.grp
/src/resource/data/s9.idx
/src/sbuf
/src/tests/.errors
/src/tests/tags
/src/xx
/src/xx.prof
/src/_parse_rle/parse_rle.so
/src/_parse_rle/tmp.c
/src/pyxlru.c
/src/_pyxlru.pyx
/src/parse_rle.c
/src/parse_rle.html
/src/_parse_rle/parse_rle.c
/src/_parse_rle/parse_rle.html
/src/test.lprof
/src/tags
